body {
	font-family: system-ui, sans-serif;
}

.tree-view {
	margin-left: auto;
	margin-right: auto;
	height: 400px;
	width: 800px;
	overflow-y: auto;
	border-radius: 0.25rem;
	border: 1px solid currentColor;
	padding: 1rem;
}

.tree-item {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	padding: 0.5rem;
}

.tree-item:focus {
	outline: 2px solid #60a5fa;
}

.tree-item[aria-selected="true"] {
	background-color: #dbeafe;
	color: #1d4ed8;
}

.tree-item[data-leaf="true"] > .tree-item-expand {
	visibility: hidden;
}

.tree-item-expand {
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: transform 300ms;
}

.tree-item-expand:dir(rtl) {
	transform: rotate(180deg);
}

.tree-item[aria-expanded="true"] > .tree-item-expand {
	transform: rotate(90deg);
}
